<!doctype html>
<html lang="en">
  <head>
    <title>the peach software company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#02050e" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="The Peach Software Company is a consultancy based in Wisconsin, specializing in Rust and all things web development."
    />
    <meta
      name="theme-color"
      content="#000"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ get_url(path="assets/apple-touch-icon.png") | safe }}" 
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ get_url(path="assets/favicon-32x32.png") | safe }}" 
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ get_url(path="assets/favicon-16x16.png") | safe }}" 
    />

    <link rel="manifest" href="{{ get_url(path="assets/site.webmanifest") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />
  </head>
  <body class="bg-black text-white/85 leading-relaxed font-mono" style="min-height: calc(100vh + env(safe-area-inset-top));">
  <!-- Make sure utility animations are included in stylesheet -->
  <!-- animate-1 -->
  <!-- animate-2 -->
  <!-- animate-3 -->
  <!-- animate-4 -->
  <!-- animate-5 -->
  <!-- animate-6 -->
  <!-- animate-7 -->
  <!-- animate-8 -->
  <!-- animate-9 -->
  <!-- animate-10 -->
  <!-- animate-11 -->
  <!-- animate-12 -->
  <!-- animate-13 -->
  <!-- animate-14 -->
  <!-- animate-15 -->
  <!-- animate-16 -->
  <!-- animate-17 -->
  <!-- animate-18 -->
  <!-- animate-19 -->
  <!-- animate-20 -->
  <!-- animate-21 -->
  <!-- animate-22 -->
  <!-- animate-23 -->
  <!-- animate-24 -->
  <!-- animate-25 -->
  <!-- animate-26 -->
  <!-- animate-27 -->
  <!-- animate-28 -->
  <!-- animate-29 -->
  <!-- animate-30 -->
  <!-- animate-31 -->
  <!-- animate-32 -->
  <!-- animate-33 -->
  <!-- animate-34 -->
    <div class="z-50 max-w-3xl w-full m-auto">{% block content %} {% endblock %}</div>
  </body>
</html>
