<!doctype html>
<html lang="en">
  <head>
    <title>the peach software company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#020618" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="The Peach Software Company is a consultancy based in Wisconsin, specializing in Rust and all things web development."
    />
    <meta
      name="theme-color"
      content="#000"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ get_url(path="assets/apple-touch-icon.png") | safe }}" 
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ get_url(path="assets/favicon-32x32.png") | safe }}" 
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ get_url(path="assets/favicon-16x16.png") | safe }}" 
    />

    <link rel="manifest" href="{{ get_url(path="assets/site.webmanifest") | safe }}" />
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css?v=16") | safe }}" />
  </head>
  <body class="bg-indigo-950 text-white/85 leading-relaxed font-mono overflow-x-hidden" style="min-height: calc(100vh + env(safe-area-inset-top));">
<div
  id="fadeOut"
  class="relative text-amber-400 top-[1rem] left-[-5rem] text-[9px] sm:text-[1rem] overflow-x-clip mr-[-4.4rem]"
>
  {% include "ascii.html" %}
</div>
  {% include "logo.html" %}
    <div class="z-50 max-w-3xl w-full m-auto">{% block content %} {% endblock %}</div>
  </body>
</html>
