{% extends "base.html" %} {% block content %}
<div
  class="flex flex-col items-center align-middle justify-center h-screen text-center"
>
  <div class="bg-white/20 rounded-2xl">
    <h1 class="font-mono font-bold text-lg sm:text-xl uppercase p-4">
      The Peach Software Company
    </h1>
  </div>
  <!-- <div class="mt-16 flex flex-col sm:flex-row justify-between w-full max-w-56"> -->
  <div class="mt-16 flex flex-col sm:flex-row justify-between">
    <div>
      <a href="mailto:austin@r00ks.io">
        <button
          class="inline-block cursor-pointer rounded-md px-4 py-3 text-center font-semibold text-primary-500 transition duration-200 ease-in-out bg-white/30 hover:bg-primary-400/40 hover:text-black text-sm blur-xs hover:blur-none"
        >
          🍑 juice?
        </button></a
      >
    </div>
  </div>
</div>
{% endblock content %}
