{% extends "base.html" %} {% block content %}
<div
  class="flex flex-col items-center align-middle justify-center h-screen text-center"
>
  <div class="bg-white/5 rounded-2xl">
    <h1 class="font-mono font-bold text-lg sm:text-xl uppercase p-4">
      The Peach Software Company <span class="animate-pulse">🍑</span>
    </h1>
  </div>
  <!-- <div class="mt-16 flex flex-col sm:flex-row justify-between w-full max-w-56"> -->
  <div class="mt-16 flex flex-col sm:flex-row justify-between">
    <div>
      <a href="mailto:austin@r00ks.io">
        <button
          class="inline-block cursor-pointer rounded-md px-4 py-3 text-center font-semibold transition duration-200 ease-in-out bg-white/5 hover:bg-white/10 text-sm blur-xs hover:blur-none hover:scale-110"
        >
          GOT JUICE?
        </button></a
      >
    </div>
  </div>
</div>
{% endblock content %}
