/* This file creates your base css that Tailwind will honor. */
@import "tailwindcss";

@theme {
  --animate-1: color 1s ease-in-out infinite;
  --animate-2: color 1.1s ease-in-out infinite;
  --animate-3: color 1.2s ease-in-out infinite;
  --animate-4: color 1.3s ease-in-out infinite;
  --animate-5: color 1.4s ease-in-out infinite;
  --animate-6: color 1.5s ease-in-out infinite;
  --animate-7: color 1.6s ease-in-out infinite;
  --animate-8: color 1.7s ease-in-out infinite;
  --animate-9: color 1.8s ease-in-out infinite;
  --animate-10: color 1.9s ease-in-out infinite;
  --animate-11: color 2s ease-in-out infinite;
  --animate-12: color 2.1s ease-in-out infinite;
  --animate-13: color 2.2s ease-in-out infinite;
  --animate-14: color 2.3s ease-in-out infinite;
  --animate-15: color 2.4s ease-in-out infinite;
  --animate-16: color 2.5s ease-in-out infinite;
  --animate-17: color 2.6s ease-in-out infinite;
  --animate-18: color 2.7s ease-in-out infinite;
  --animate-19: color 2.8s ease-in-out infinite;
  --animate-20: color 2.9s ease-in-out infinite;
  --animate-21: color 3s ease-in-out infinite;
  --animate-22: color 3.1s ease-in-out infinite;
  --animate-23: color 3.2s ease-in-out infinite;
  --animate-24: color 3.3s ease-in-out infinite;
  --animate-25: color 3.4s ease-in-out infinite;
  --animate-26: color 3.5s ease-in-out infinite;
  --animate-27: color 3.6s ease-in-out infinite;
  --animate-28: color 3.7s ease-in-out infinite;
  --animate-29: color 3.8s ease-in-out infinite;
  --animate-30: color 3.9s ease-in-out infinite;
  --animate-31: color 4s ease-in-out infinite;
  --animate-32: color 4.1s ease-in-out infinite;
  --animate-33: color 4.2s ease-in-out infinite;
  --animate-34: color 4.3s ease-in-out infinite;

  @keyframes color {
    0%,
    10% {
      color: var(--color-slate-600);
    }
    30% {
      color: inherit;
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 2rem;
    font-weight: bolder;
  }

  @media screen and (min-width: 640px) {
    h1 {
      font-size: 3rem;
    }
  }
}
